.container {
    margin: 20px;
  }
  .example-card {
    padding: 20px;
  }

  .result{
    font-size:20px;
    font-weight: 700;
    float:right;
  }

  table {
    width: 100%;
  }

  th.mat-header-cell, td.mat-cell {
    text-align: left;
  }

